.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 90;
  padding-left: 8px;
  padding-right: 8px;
}
.Toolbar nav {
  height: 100%;
}
.Logo {
  height: 80%;
}
@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}
